@model Eventchain.Models.EventInfo

@{
    ViewData["Title"] = "Details";
}
<section class="content2 cid-sktwZufd8X" id="content2-s">
    <h1>Details</h1>

    <div>
        <h4>EventInfo</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Genre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Genre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Recurring)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Recurring)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Parent)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Parent.EventId)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.EventInfoId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
    </section>